.header {
    background-color: transparent;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    height: 46px;
    width: 100%;
    display: flex;
    top: 0;
    padding: 5px 5%;
    box-sizing: border-box;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.headerScrolled {
    background-color: black;
}

.header #logo {
    height: inherit;
}

.header div {
    display: flex;
    align-items: center;
}

.header div input {
    border: none; /* 기존 테두리 제거 */
    border-bottom: 2px solid white; /* 하단 테두리만 추가 */
    background-color: transparent;
    color: white;
    box-sizing: border-box; /* 박스 사이징 */
    font-size: 19px;
    width: 300px;
}
input:focus {
    outline: none; /* 포커스 시 강조 효과 제거 */
}

.header button {
    border: none; /* 테두리 제거 */
    background: none; /* 배경 제거 */
    cursor: pointer; /* 커서 스타일 변경 */
    padding: 5px;
    margin: 0px 30px 0px 0px;
}
.header button img {
    height: 30px;
    object-fit: cover;
    color: white;
    filter: invert(100%);
}   

.header #profile {
    margin: auto 0px;
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 5px;
}

#profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#profile-menu {
    position: fixed;
    width: 1000px;
    height: 1000px;
    right: 10px;
    top: 300px;
    background-color: purple;
}

.dropdownMenu {
    display: flex;
    width: 100px;
    padding: 10px 0px;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: black;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    z-index: 2000;
    transform: translateX(-60px) translateY(5px);
}

.dropdownMenu a {
    display: block;
    padding: 8px;
    color: white;
    text-decoration: none;
}