#dark-background-space {
    position: fixed; /* 화면에 고정 */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 필요한 경우 다른 요소들 위에 배치 */
    background-color: rgba(0, 0, 0, 0.845);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.25s ease;
}

#dark-background-space.active {
    /* 활성화 상태 */
    opacity: 1;
    visibility: visible;
}

.movie-info-card {
    background-color: blue;
    width: 1000px;
    height: 90%;
}