.movie-item {
    background-color: red;
    width: 341px;
    height: 192px;

    flex: 0 0 auto; /* flex-grow, flex-shrink, flex-basis */
    margin-right: 10px; /* 아이템 간 간격 */
    transition: transform 0.3s ease;
}

.movie-item:hover {
    transform: scale(1.125);
}

.rank {
    font-size: 30px;
    position: relative;
    top: 90px;
    left: 280px;
    font-size: 100px;
    -webkit-user-select: none;  /* Chrome, Safari, Opera 등 */
    -moz-user-select: none;     /* Firefox */
    -ms-user-select: none;      /* Internet Explorer/Edge */
    user-select: none;          /* 비표준 브라우저를 위한 일반적인 속성 */
}