<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>채팅방</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
    #chatContainer {
      height: 300px;
      overflow-y: scroll;
      border: 1px solid #ccc;
      padding: 10px;
    }
    
    .myChat {
      color: green; /* 나의 채팅 색상 */
    }

    .otherChat {
      color: blue; /* 다른 사용자의 채팅 색상 */
    }
  </style>
</head>
<body>
  <div class="container">
    <h3>채팅방</h3>
    <div id="chatContainer">
      <div id="chatLogs"></div>
    </div>
    <form class="form-inline">
      <div class="form-group">
        <label for="msgForm">Message: </label>
        <input type="text" class="form-control" id="msgForm">
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
    <button id="logoutButton" class="btn btn-danger">Logout</button>
    <button type="button" onclick="deleteAll()">삭제</button>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
  $(function(){
    // socket.io 서버에 접속한다
    var socket = io();

    // 서버로 자신의 정보를 전송한다.
    socket.emit("login", {
      userId: '<%= userId %>',
    });
    
    socket.on("login", function(data) {
      if((typeof data) == 'string'){
        console.log(data);
        $("#chatLogs").append("<div><strong>" + data + "</strong></div>");
      }else{
        console.log(typeof data);
      }

    if(data.msg != undefined){
      console.log(data, '<%= userId %>');
      var chatClass = (data.from.LOLname == '<%= userId %>') ? 'myChat' : 'otherChat';
      $("#chatLogs").append("<div class='" +chatClass + "' > <strong>" + data.from.userId + " </strong>:  " + data.msg + "</div>");
      // 스크롤을 항상 맨 아래로 유지
      $("#chatContainer").scrollTop($("#chatContainer")[0].scrollHeight);
    }
    });
 

    socket.on("chat", function(data) {
      if(data.msg.trim() == ''){
        alert('공백 입력 하지마 박민서 꼬삼');
      }
      else{
        var chatClass = (data.from.LOLname === '<%= userId %>') ? 'myChat' : 'otherChat';
        $("#chatLogs").append("<div class='" +chatClass + "' > <strong>" + data.from.LOLname + " </strong>:  " + data.msg + "</div>");
        // 스크롤을 항상 맨 아래로 유지
        $("#chatContainer").scrollTop($("#chatContainer")[0].scrollHeight);
      }
    });

    // Send 버튼이 클릭되면
    $("form").submit(function(e) {
        e.preventDefault();
      var $msgForm = $("#msgForm");

      // 서버로 메시지를 전송한다.
      if ($msgForm.val().trim() === '') {
        alert('공백 입력 하지마 박민서 꼬삼');
      } else {
        socket.emit("chat", { msg: $msgForm.val() });
        $msgForm.val("");
      }

    
    });
    $("#logoutButton").click(function() {
        // 서버에 로그아웃 요청을 보냅니다.
        socket.emit("logout");
    });
    socket.on("logout", function() {
        // 대화창을 지웁니다.
        $("#chatLogs").empty();
    });
    socket.on()
  });

  </script>
</body>
</html>
